<h1>Listing Comps</h1>

<table>
  <tr>
    <th>User</th>
    <th>Last User</th>
    <th>User</th>
  </tr>

<% @comps.each do |comp| %>
  <tr>
    <td><%= link_to comp.name, comp %></td>
    <td><%= link_to comp.sortuserlog.last.user_name, comp.sortuserlog.last.user  %></td>
    

  </tr>
<% end %>
</table>

<br />
